@keyframes opacity_reverse {
    from {
        opacity: 1
    }

    to {
        opacity: 0
    }
}

@keyframes opacity {
    from {
        opacity: 0
    }

    to {
        opacity: 1
    }
}

@keyframes z-index {
    from {
        z-index: 0
    }

    to {
        z-index: 2
    }
}

@keyframes scale-x {
    from {

        transform: scaleX(0)
    }

    to {

        transform: scaleX(1)
    }
}

@keyframes scale-y {
    from {
        transform: scaleY(0)
    }

    to {
        transform: scaleY(1)
    }
}

@keyframes translate-x {
    from {

        transform: translate(0%)
    }

    to {

        transform: translate(-20%)
    }
}

@keyframes width-reduce {
    from {
        width: 70%
    }

    to {
        width: 50%
    }
}

body {
    height: 100%;
    width: 100%;
    margin: 0%;
}

@import"CSS/style.scss";

header {
    height: 80px;
    width: 100%;
    background-color: #fff;
    box-shadow: 0px 0px 12px 0px rgb(0 0 0 / 60%);
}

H1 {
    color: black;
    font-size: 3.5em;
    display: flex;
    justify-content: center;
    margin: 0;
    font-family: 'Shrikhand', cursive;
}

.search {
    background-color: #e5e5e5b9;
    width: 100%;
    height: 3.5em;
}

.search_box {
    height: 3.5em;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 7.5%;

}

.search_box input {
    border: 0;
    font-weight: bold;
    background-color: transparent;
    font-size: 1em;
    font-family: 'Roboto', sans-serif;

}

.fas {

    width: 1em;
    font-size: 1.3em;
}

.explore_restaurant {
    background-color: #f2f2f294;
    width: 100%;
    text-align: center;
}

.container {
    padding: 2% 0;
    width: 100%;
    font-family: 'Roboto', sans-serif;
}

h2 {
    margin: 1%;
    font-size: 25px;
    font-weight: 900;
    color: #000;
}

.btn-acceuil {
    background: linear-gradient(to top, #9356DC, #FF79DA);
    ;
    margin: 15px 0;
    padding: 15px;
    border-radius: 30px;
    font-size: 18px;
    color: white;
    border: violet;
    box-shadow: 0px 0px 12px 0px rgb(0 0 0 / 40%);
    width: 25%;
    font-family: 'Roboto', sans-serif;
}

.function_menu {
    padding-left: 2em;
    padding-right: 2em;
    height: 10em;

}

h3 {
    text-align: center;
    font-size: 1.4em;
    font-family: "Roboto", arial;
    font-weight: 800;
    margin-bottom: 1.2em;
    margin-top: 1.2em;
    font-family: 'Roboto', sans-serif;
    width: 100%;
}

.explication {
    display: flex;
    justify-content: space-around;
    font-family: 'Roboto', sans-serif;
}

.choose:hover {
    box-shadow: 0em 0.8em 0.4em #e6e5e5;
    background-color: white;
}

.choose {
    height: auto;
    border-radius: 1em;
    margin: 0em 0em 1em 1em;
    box-shadow: 0em 0.4em 0.4em #e6e5e5;
    width: 20em;
    background-color: #f6f6f6;
}

.first {
    width: 1em;
    height: 1em;
    background: #9356DC;
    border-radius: 0.7em;
    padding: 0.3em 0.2em 0.2em 0.2em;
    float: left;
    margin-top: 1.7em;
    margin-left: 0.8em;
}

.number {
    margin: 0;
    font-size: 1em;
    text-align: center;
    color: white;
    font-family: "Roboto Regular", arial;
}

.logo-explication i {

    font-size: 1.3em;
    width: 2em;
    float: left;
    color: #7e7e7e;
    padding-top: 1.4em;
    margin-left: 1em;
}

.texte {
    margin: 0;
    padding-top: 1.8em;
    padding-bottom: 2.2em;
}

/* BLOC RESTAURANT */
.info h6,
#conteneur h6 {
    font-size: 1.4em;
    font-family: "Roboto", arial;
    font-weight: 800;
    margin-bottom: 1.2em;
}

#conteneur {
    width: 100%;
    background: #F2F2F2;
    padding-top: 2em;
    padding-bottom: 2em;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.Titre-restaurant-Acceuil {
    text-align: center;
    font-size: 1.4em;
    font-weight: 800;
    margin-bottom: 1.2em;
    margin-top: 1.2em;
    font-family: 'Roboto', sans-serif;
    width: 100%;
    margin-top: 0%;
}

#conteneur h6 {
    margin-left: 1em;
}

.bloc_resto {
    background: white;
    width: 21%;
    height: 14em;
    border-radius: 1em;
    margin: 0em 1em 1em 1em;
    box-shadow: 0em 0.4em 0.4em #e6e5e5;
}

.img_resto {
    position: relative;
    width: 100%;
    height: 68.5%;
}

.new {
    position: relative;
    background: #99E2D0;
    width: 5.5em;
    height: 1em;
    float: right;
    padding: 0.6em 0.4em 0.8em 0.4em;
    margin-top: 1.2em;
    margin-right: 1em;
    z-index: 1;
    color: #26866e;
    font-family: "roboto regular", arial;
    font-size: 0.8em;
    text-align: center;
}

.image-cover {
    margin-top: -2.9em;
    object-fit: cover;
    object-position: 0 -3.5em;
    border-top-left-radius: 1em;
    border-top-right-radius: 1em;
}

.image-cover1 {
    object-fit: cover;
    object-position: 0 -9em;
    margin-top: -2.9em;
    border-top-left-radius: 1em;
    border-top-right-radius: 1em;
}

.image-cover2 {
    object-fit: cover;
    object-position: 0 -3em;
    border-top-left-radius: 1em;
    border-top-right-radius: 1em;
}

.image-cover3 {
    object-fit: cover;
    object-position: 0 -3em;
    border-top-left-radius: 1em;
    border-top-right-radius: 1em;
}

img {
    width: 100%;
    height: 100%;
}

.description {
    width: auto;
    height: 1.3em;
}

.description h5 {
    width: 80%;
    text-align: left;
    font-family: "roboto Bold", arial;
    font-weight: bolder;
    color: black;
    font-size: 1em;
    float: left;
    margin: 1em 0em 0em 1em;
}

.ville {
    width: auto;
    text-align: left;
    font-family: "roboto", arial;
    font-size: 1em;
    font-weight: lighter;
    margin-top: 1em;
    margin-left: 1em;
    color: black;
}

.logo {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
}

.no-like {
    position: relative;
    margin-top: 1.5em;
}

.like {
    position: absolute;
    margin: 3.5em 0.8em 0 0;

}

.description .far {
    float: right;
    font-size: 1.6em;
    position: relative;
    z-index: 1;
    overflow: hidden;
    padding-right: 0.5em;
}

.description .fas {
    float: right;
    padding-top: 0.5em;
    font-size: 0.8em;
    position: relative;
    z-index: 0;
    color: white;
    transition: transform 400ms ease-in-out;
}

.description:hover .fas {
    margin: 0;
    transform: scale(2);
    transform-origin: bottom;
    background-clip: unset;
    background: -webkit-gradient(linear, left top, left bottom, from(#9356DC), to(#FF79DA));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-transform: scale(2);
}

.description:hover .far {
    display: none;
}

a {
    text-decoration: none;
}

.pied_resto,
.pied_menu {
    width: auto;
    height: 10em;
    margin-left: auto;
    margin-right: auto;
    background: #353535;
    padding: 1.4em;
    z-index: 2;
}

.titre-site-footer {
    font-size: 1.2em;
    margin-top: 0em;
    margin-bottom: 1em;
    font-family: "shrikhand";
    filter: invert(1);
}

.info_footer_lien a {
    font-family: "roboto regular", arial;
    color: white;
    margin-bottom: 0.5em;
    text-decoration: none;
    font-weight: lighter;
    float: left;
}

.partenaire .fas {
    font-size: 0.7em;
    margin-right: 1em;
}

.proposition .fas {
    font-size: 0.8em;
    margin-right: 1em;
}

.proposition,
.partenaire,
.mentions,
.contact {
    height: 1.7em;
}


.pied_resto {
    width: auto;
    height: 9em;
    margin-left: auto;
    margin-right: auto;
    background: #353535;
    padding: 1.4em;
    position: relative;
}

.titre-site-footer {
    font-size: 1.2em;
    margin-top: 0em;
    margin-bottom: 1em;
    font-family: "shrikhand";
    filter: invert(1);
    text-align: center;
}

.info_footer_lien {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.partenaire .fas {
    font-size: 0.7em;
    margin-right: 1em;
}

.proposition .fas {
    font-size: 0.8em;
    margin-right: 1em;
}

.mentions .fas {
    font-size: 0.8em;
    margin-right: 1em;
}

.contact .far {
    font-size: 0.8em;
    margin-right: 1em;
}

/* LA PALETTE DU GOÛT */
/* HEADER */
.la-palette-du-gout_header {
    height: 80px;
    width: 100%;
    position: fixed;
    top: 0px;
    background-color: #fff;
    z-index: 3;
    box-shadow: 0px 0px 12px 0px rgb(0 0 0 / 50%);
    animation: z-index 0ms 3500ms linear backwards;
}

.header_container {
    height: 100%;
    width: 100%;
    max-width: 845px;
    margin: 0px auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.la-palette-du-gout_header .header_container .previous {
    position: absolute;
    left: 2em;
    font-size: 1.5em;
    text-decoration: none;
    color: #000;
}

.la-palette-du-gout_header .header_container .previous .active {
    height: 100%;
    display: block;
}

.fa,
.fas {
    font-weight: 900;
    font-family: "Font Awesome 5 Free";
}

/* FIN DU HEADER */
.title__text {
    font-family: Shrikhand;
}

h4 {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    font-weight: lighter;
    color: #000;
    margin: 1%;
}

.restaurant_main {

    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    width: 100%;
    position: relative;
    top: 80px;
    /* -webkit-animation: z-index 0ms 3500ms linear both; */
    animation: z-index 0ms 3500ms linear both;
}

.restaurant_photo {
    height: 180px;
    width: 100%;
}

.restaurant_photo img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    position: fixed;
}

.menu {
    /* -webkit-box-sizing: border-box; */
    box-sizing: border-box;
    width: 100%;
    max-width: 800px;
    margin: 0px auto;
    padding: 15px 15px 0% 15px;
    /* display: -webkit-box; */
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    position: relative;
    background-color: #e5e5e5;
    border-radius: 15px 15px 0px 0px;
}

.title {
    height: 50px;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.title__text {
    height: 100%;
    width: 80%;
    display: flex;
    align-items: center;
}

.title-menu {
    margin: 1%;
    font-size: 25px;
    font-weight: 900;
    color: #000;
    text-transform: capitalize;
}

.underline {
    height: 3px;
    width: 6.5%;
    background-color: #99e2d0;
    margin: 0 0 0 0.5em;
}

.logo-menu {
    height: 100%;
    width: 22.5%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.no-like-menu {
    position: absolute;
    margin: 0.5em 0 0 1em;
}

.like-menu {
    position: relative;
    margin-top: 1em;
}

.logo-menu .fas {
    float: right;
    padding-top: 0.5em;
    font-size: 0.8em;
    position: relative;
    z-index: 0;
    color: #E5E5E5;
    transition: transform 400ms ease-in-out;
}

.logo-menu:hover .fas {
    margin: 0;
    transform: scale(2);
    transform-origin: bottom;
    background-clip: unset;
    background: -webkit-gradient(linear, left top, left bottom, from(#9356DC), to(#FF79DA));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-transform: scale(2);
}

.logo-menu .far {
    float: right;
    font-size: 1.6em;
    position: relative;
    z-index: 1;
    overflow: hidden;
    padding-right: 0.5em;
}

.logo-menu:hover .far {
    display: none;
}


.plat {
    margin-top: 15px;
}

.plat__title {
    display: flex;
    flex-direction: column;
}

.plat__container {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.plat__01 {
    animation: scale-y 800ms 3500ms linear both;
}

.btn-restaurant {
    background: linear-gradient(to top, #9356DC, #FF79DA);
    padding: 15px;
    border-radius: 30px;
    font-size: 18px;
    color: white;
    border: violet;
    box-shadow: 0px 0px 12px 0px rgb(0 0 0 / 40%);
    width: 25%;
    margin: 2em 0 6em 37%;
}

.item {
    height: 80px;
    margin-top: 15px;
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #fff;
    border-radius: 15px;
}

.item__name {
    width: 70%;
    padding: 0px 5%;
}

.plat-menu {
    font-family: 'Roboto', sans-serif;
    text-align: left;
    font-size: 20px;
    font-weight: 600;
    color: #000;
    margin: 0;
}

h5 {
    margin: 0;
    font-weight: 400;
    font-size: 15px;
    font-family: 'Roboto', sans-serif;
}

.item__price {
    width: 10%;
    padding: 0px 5%;
    text-align: center;
}

.price {
    font-size: 20px;
    font-weight: 400;
}

.item__logo {
    height: 80px;
    width: 10%;
    padding: 0px 5%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    position: absolute;
    right: 0px;
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
    -webkit-transform-origin: right;
    -ms-transform-origin: right;
    transform-origin: right;
    color: #fff;
    background-color: #99e2d0;
    border-radius: 0px 15px 15px 0px;
    font-size: 18px;
}

.plat__container .item:hover {
    cursor: pointer
}

body .restaurant_main .menu .plat__container .item:hover .item__name {

    animation: width-reduce 400ms 0ms linear both
}

body .restaurant_main .menu .plat__container .item:hover .item__price {

    animation: translate-x 200ms 0ms linear both
}

body .restaurant_main .menu .plat__container .item:hover .item__logo {

    animation: scale-x 400ms 0ms linear both;
}

/* Déroulement des menus */
.plat__01 {

    animation: scale-y 800ms 1000ms linear both;
}

.plat__02 {

    animation: scale-y 800ms 1500ms linear both
}

.plat__03 {

    animation: scale-y 800ms 2000ms linear both
}

@keyframes scale-y {
    from {
        transform: scaleY(0)
    }

    to {
        transform: scaleY(1)
    }
}